<div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">This is a simple web application for creating road trips in the continental US.</p>
  <hr class="my-4">
  <p>It is also a final project for the rails section of the Flatiron School's Web Development Program.</p><br>
  <% if !current_user %>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path, {class: "btn btn-primary btn-lg"} %> |
      <%= link_to "Log In", new_user_session_path, {class: "btn btn-primary btn-lg"} %>
    </p>
  <% end %>
</div>
